name: Cache
on: push
jobs:
  cache--or-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
            key: test-${{ runner.os }}-${{ github.sha }}
            path: ${{ github.workspace }}/dummy
            restore-keys: |
              test-${{ runner.os }}-
      - run: echo "This is cache run id "
      - run: |
            if [[ -f "${GITHUB_WORKSPACE}/dummy" ]]; then mkdir "${GITHUB_WORKSPACE}/dummy"; fi
            dd if=/dev/urandom of "${GITHUB_WORKSPACE}/dummy/" bs=1K count=10
            sleep 10
      - run: ls -la "${GITHUB_WORKSPACE}/dummy"