name: Cache
on: push
jobs:
  cache--or-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
            key: test-${{ runner.os }}-${{ github.sha }}
            path: ${{ github.workspace }}/dummy
            restore-keys: |
              test-${{ runner.os }}-
      - run: echo "This is cache run id "
      - run: ls -la ${{ github.workspace }}/dummy